<style> 
@font-face {
   font-family: monalm-r;
   src: url(sansation_light.woff);
  
}

@font-face {
   font-family: monlam-b;
   src: url(sansation_bold.woff);
   
}

* {
   font-family: myFirstFont;
}
</style>
